@import url("nanumbarungothic.css");

html {font-size:14px;}
body {color:#212121; font-family: 'NanumBarunGothic', sans-serif;}
iframe {border:0; margin:0;}

/* input box color */ input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px #fff inset ; -webkit-text-fill-color: #000; } input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }

/* POPUP DARK */
.popup {height:650px;}
.popup-dark { background: linear-gradient(90deg, rgba(67,68,77,1), rgba(35,36,41,1)); color:rgba(255,255,255,.7)!important; height:650px;}
.popup-bgimg {background:url('../images/bg_popup.png') no-repeat right bottom;height:650px;}
.popup-dark .container {width:800px; height:650px; padding:80px 70px 0; margin-right:auto; margin-left:auto;}
.popup-logo {width:180px; height:53px; background:url('../images/logo_shoot.svg') no-repeat;}

.popup-dark .close a {display:block; overflow:hidden; width:32px; height:32px; margin:30px 30px 0 0; background:url('../images/sprites.png') no-repeat 0 0;}
.popup-dark .close a {background-position:0px -50px;}
.popup-dark .close a:hover {background-position:-32px -50px;}
.popup-dark .header {margin-bottom:50px;}
.popup-title {float:right; font-weight:200; margin-top:25px;}
.safety {margin-left:10px;}
.safety em {display:inline-block; width:24px; height:24px; overflow:hidden; text-indent:-1111px; background:url('../images/sprites.png') no-repeat 0 0; margin-right: 5px;vertical-align: middle;}
.safety em.level00 {background-position:-144px 0px;}
.safety em.level01 {background-position:-168px 0px;}
.safety em.level02 {background-position:-192px 0px;}
.safety em.level03 {background-position:-216px 0px;}
.popup-dark .card-body {color:#212121; font-size:1.3rem; background:#d4d5d6;}

.account-list{ width: 100%;  height:380px; overflow: hidden;  margin-right: auto;  margin-left: auto;  padding:0; overflow-x:hidden; overflow-y:scroll;}
.account-list .list {background:rgba(31,32,37,.9); padding:30px 20px; margin-bottom:10px;}
.account-list .badge-style {background:#313339; padding:0.6rem 1.2rem !important; color:#999;}

.account-list .address {text-align:right; font-size:1.25rem; word-break:break-all;}
.account-list .balance {text-align:right; font-size:1.25rem;word-break:break-all;}
.account-list .balance img{float:left; width:30px; height:auto; zoom: 1; /* ie 5,6,7 bug fix */ filter: alpha(opacity=70); opacity: 0.7;}
.account-list .balance span{font-size:1.9rem;}
.account-list .balance small{font-size:1rem;}

.account-add {}
.usermode {}
.room-setting {}
.keeper-entrance {}
.btn-ent {color: #fff; background-color: #0594a5; border-color: #118e84; border-left-color: #868e96; width:150px;}

.btn-pointcolor {color:rgba(255,255,255,.8); background:#118e84; width:210px; font-size:1.2rem; font-weight:400; text-align:center; padding:16px 25px;}
.btn-pointcolor:hover {color:rgba(255,255,255,1); background:#0f7f76;}
.btn-pointcolor:focus, .btn-pointcolor.focus { box-shadow: 0 0 0 3px rgba(17, 142, 132, 0.5)!important;}

.btn-ic .btn-pointcolor {text-align:right !important; }
.btn-ic .btn-pointcolor>em {float:left; display:inline-block; width:12px; height:12px; background:url('../images/sprites.png') no-repeat 0px -82px; margin-top:6px;}
.btn-ic .btn-pointcolor:first-child>em { background-position: -12px -82px;}
.btn-ic .btn-pointcolor:first-child {margin-right:10px;}

.btn-mode .btn-pointcolor {text-align:right !important; background: #0594a5;}
.btn-mode .btn-pointcolor>em {float:left; display:inline-block; width:20px; height:20px; background:url('../images/sprites.png') no-repeat -55px -82px; margin-top:2px;}
.btn-mode .btn-pointcolor:first-child>em { background-position: -32px -82px;}
.btn-mode .btn-pointcolor:first-child {margin-right:10px; background: #c32542;}

.fw-light {font-weight:200;}
.popup-dark .script {color:rgba(255,255,255,.5); font-weight:200;}

/*** LAYOUT ***/
.wrap {height:100%;}
.topmenu {position:absolute; left:0; top:0; width:100%; z-index:11; height:56px; background-color: #232429}
.cntbox {position:absolute; left:0; top:56px; bottom:0; z-index:11; width:100%; min-width:460px; background:#fff;} 
.videobox {position:absolute; left:0px; right:348px; top:0; bottom: 0; height: 100%;  overflow-x:hidden; overflow-y:auto; background:#fff;}
.rightbox {right:0px;}
.chatbox {position:absolute; right:0; top:0; bottom:0; z-index:11; width:348px; border-left:1px solid #ddd; background:#f5f5f5;}

.chat-live {position:absolute; left:0; right:0; top:140px !important; bottom:210px; z-index:1; overflow:auto; display:block;border-bottom: 1px solid  #ddd; }
.sponsor {position:relative; background: #eeeee8; height:100px; margin:0; overflow: hidden; padding:10px 3px;}	

.chat-input {position: absolute; bottom: 150px; width:100%;background: #fff; height:60px; margin:0;}
.wallet {position: absolute; bottom: 0;background: #eeeee8; width:100%; height:150px; margin:0; padding:10px 20px;border-top: 1px solid  #ddd; vertical-align: }

@media all and (max-width:/*1103px/1109px*/1158px) {
	.cntbox .rightbox {right:0;}
	.cntbox .videobox {right:348px;}
	.rightbox .videobox {right:348px;}
}
@media all and (max-width:/*802px/828px*/857px) {
	.cntbox .videobox {right:0;}
	.cntbox .chatbox {display: none !important;}
	.topmenu .rightbox {display: none !important;}
}
/* TOP MENU */
.topmenu .logo {width:120px; height:24px; background:url('../images/logo_shoot.svg') no-repeat 0 0; background-size: 70% auto; }
.menu {position:absolute; right:0; top:0;}
.menu li {float:left; position:relative; list-style: none;}
.menu li a {display:block; width:26px; height:26px; overflow:hidden; text-indent:-1111px; background:url('../images/sprites.png') no-repeat 0 0; margin:15px 20px 0 10px;}
.menu li.search a {background-position:0px -24px;}
.menu li.search a:hover {background-position:-28px -24px;}
.menu li.user a {background-position:-56px -24px;}
.menu li.user a:hover {background-position:-84px -24px;}
.menu li.drawer a {background-position:-112px -24px;}
.menu li.drawer a:hover {background-position:-140px -24px;}

#shoot_player { overflow: hidden; position: relative; min-width: 460px; background: #000; max-height: 760px !important; margin: 0 !important; }

/*#shoot_player .shoot_player_size { max-height: 760px;}*/
#shoot_player .shoot_player_size {padding-bottom: 56.25%; max-height: 760px; height: 0; }
#shoot_player #video_layer  { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; width: 100%; height: 100%;}

.onair {position:absolute; top:0px; left:0; z-index: 111; padding:10px;}

.onoffswitch {position: relative; width: 100px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;}
.onoffswitch-checkbox {display: none;}
.onoffswitch-label {display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #55565f; border-radius: 23px;}
.onoffswitch-inner {display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s; -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 36px; padding: 0; line-height: 36px; font-size: 14px; color: white; font-weight: 800;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.onoffswitch-inner:before {content: "ON AIR"; padding-left: 12px; background-color:#df193e; color: #FFFFFF;}
.onoffswitch-inner:after {content: "OFF AIR"; padding-right: 12px; background-color: #737982; color: #ccc; text-align: right;}
.onoffswitch-switch { display: block; width: 18px; margin: 10px; background: rgba(255,255,255,.5); border: 1px solid rgba(255,255,255,.3); border-radius: 24px; position: absolute; top: 0; bottom: 0; right: 62px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; }
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; }

.liveinfo {padding:30px 20px;}
.videobox .liveinfo .info {display:block;}
/* 방송정보 */
.videobox .liveinfo .info {position:relative; z-index:11; padding:0 0 40px 90px; min-height:80px;} 
.videobox .liveinfo .info .shooter_logo {position:absolute; left:10px; top:0; padding:1px 0 0 1px;}
.videobox .liveinfo .info ,
.videobox .liveinfo .info .shooter_logo {-webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}
.videobox .liveinfo .info .shooter_logo img.thum {width:67px; height:67px; border-radius:67px; margin:0 0 0 1px;}

.videobox .liveinfo .info .shooter {margin:0 10px 0 10px; position:relative;} 
.videobox .liveinfo .info .shooter:after {content:""; display:block; clear:both;}
.videobox .liveinfo .info .shooter dd.name {margin: 0; font-size:1rem; padding:0 0 2px; }
.videobox .liveinfo .info .shooter dt.tit {margin: 0; font-size:1.75rem; font-weight:normal; padding:0 0 10px; }
.videobox .liveinfo .info .shooter dd.hashtag {width:100%;padding:0;margin:10px 0 20px;}
.videobox .liveinfo .info .shooter dd.hashtag a {padding-right:20px;}
.videobox .liveinfo .info .shooter dd.detail {margin: 0; font-size:0.9rem; padding:0 0 20px; }


/* 컨텐츠 */
.chatbox h2 {height:40px; padding:13px 0 0 8px; border-bottom:1px solid #e1e1e1;  font-weight:bold; font-size:1.2rem; overflow: hidden; margin:0;}
.chatbox h2 span {margin-left:10px;}
.headbtn {position:absolute; right:0; top:0;}
.headbtn li {float:left; position:relative; list-style: none;}
.headbtn li a {display:block; width:24px; height:24px; overflow:hidden; text-indent:-1111px; background:url('../images/sprites.png') no-repeat 0 0; margin:8px 10px 0 0;}
.headbtn li.refresh a {background-position:0px 0px;}
.headbtn li.refresh a:hover {background-position:-24px 0px;}
.headbtn li.closed a {background-position:-48px 0px;}
.headbtn li.closed a:hover {background-position:-72px 0px;}

/*후원금리스트 */
.sponsor .spon-box {float:left; width:80px; height:80px; padding: 0.25rem; border-radius: 50%; background:#f51a43; text-align:center; margin:0 2px;}
.spon-box .spon-info .img-circle {border-radius: 50%; transition: all 0.2s ease-in-out; max-width: 100%; height: auto; width:27px; border:3px solid rgba(255, 255, 255, 0.4);}
.spon-box .spon-info span .coin {position:absolute; margin:13px 0 0 -10px; width:14px; z-index: 111;}
.spon-box p.amount {margin:2px 0 -7px 0 !important; padding:0 !important; font-weight:bold; font-size:1.15rem;}
.spon-box small {margin:0; padding:0;}

.spon-lv01 {background:#f51a43 !important; color:#eaeaea !important;}
.spon-lv02 {background:#7986cb !important; color:#eaeaea !important;}
.spon-lv03 {background:#4bbe71 !important; color:#212121 !important;}
.spon-lv04 {background:#34c8cd !important; color:#212121 !important;}
.spon-lv05 {background:#71a9ee !important; color:#212121 !important;}
.spon-lv01 .name, .spon-lv01 small, .spon-lv01 .chat-body p, 
.spon-lv02 .name, .spon-lv02 small, .spon-lv02 .chat-body p 
{ color:#eaeaea !important;}
.spon-lv03 .name, .spon-lv03 small, .spon-lv03 .chat-body p, 
.spon-lv04 .name, .spon-lv04 small, .spon-lv04 .chat-body p, 
.spon-lv05 .name, .spon-lv05 small, .spon-lv05 .chat-body p
{ color:#212121 !important;}

/* 지갑 - My wallet */
.wallet p{margin:0; padding:5px 0;font-size:0.9rem; font-weight:bold; text-transform:uppercase; letter-spacing: 0.2rem;}
.wallet .balance {height:70px; background:url('../images/wallet.svg') no-repeat 0 0; background-size:auto 60px; text-align:right; font-size:2rem; vertical-align: bottom;}
.wallet .balance span {position:relative; display:inline-block; padding-top:15px;}
.wallet .balance small {font-size:1rem;}
.wallet .account {height:auto; width:100%; text-align:right; background:#dad2c8; border-radius: 10px; padding:2px 12px;}
.wallet .account span {float:left; font-size:0.8rem; margin-top:3px; font-weight:bold;}

/* 스폰서 채팅 디자인 */
.sponchat {width:314px !important;}
.sponchat .img-circle {width:40px!important; height:40px!important; border:4px solid rgba(255, 255, 255, 0.5); }
.sponchat .chat-body{margin-left: 45px !important; font-size:1.1rem;}
.sponchat .chat-body div.user-info {margin-bottom:0px !important;}
.spon-lv01 .chat-body p, .spon-lv02 .chat-body p 
{background:rgba(0,0,0,.2); border-radius: 3px; padding:5px; overflow:hidden;}
.spon-lv03 .chat-body p, .spon-lv04 .chat-body p {background:rgba(255,255,255,.3); border-radius: 3px; padding:5px; overflow:hidden;}
.spon-lv05 .chat-body p {display:none;}
.sponchat .amount {font-size:1.4rem; vertical-align:middle; margin:0; padding:0;}
.sponchat .amount .coin {float:left; width:24px; margin-right:5px; opacity: 0.9;}
.sponchat .amount span {font-weight:bold;}


/* 채팅리스트 */
.chat-box {background:#fff;padding:0px;}
.panel-body {}
.chat {list-style: none; margin: 0; padding:10px 0; overflow:hidden; background:#fff;}
.chat li{ display:inline-block; overflow:hidden; margin: 0px 10px; padding: 7px; background: #f5f5f5; font-size:0.975rem; color:#444; border-radius: 5px;}
.chat li .chat-img{background: #6fd2db;}
.chat li .img-circle {border-radius: 50%; transition: all 0.2s ease-in-out; max-width: 100%; height: auto;}
.chat li .chat-body .name {font-style: normal; font-size:0.9rem; color:#797979; margin-right:5px; overflow: hidden;}
.chat li .chat-body div.user-info {margin-bottom:3px;}
.chat li .chat-body p {margin: 0; color: #444; line-height:1.2rem;}

.chat li.left {background: #f5f5f5;}
.chat li.left .img-circle {float:left;  width:32px; height:32px;}
.chat li.left .chat-body{margin-left: 40px;}

.chat li.right {background: #dcfffd; float:right; margin-bottom:6px;}
.chat li.right .img-circle {float:right;  width:32px; height:32px;}
.chat li.right .chat-body{margin-right: 40px;}
::-webkit-scrollbar-track
{ -webkit-box-shadow: outset 0 0 6px rgba(0,0,0,0.7); background-color: #f5f5f5;}
::-webkit-scrollbar
{ width: 12px; background-color: #F5F5F5;}
::-webkit-scrollbar-thumb
{ -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3); background-color: #eaeaea; border-radius: 12px;}

/* 채팅입력 */
.chat-input .chat-coin {width:50px; height:60px;}
.chat-input .chat-coin .coin{width:50px ;padding:15px 10px 0; opacity: 0.6;}
.chat-input .chat-coin .coin:hover {opacity: 1;}
.chat-input .chat-text {border:none !important; resize:none; vertical-align: middle;}
.chat-input .chat-btn {display:inline-block; width:24px; height:24px; background:url('../images/sprites.png') no-repeat 0 0 ; background-position:-240px 0px; cursor:pointer;}
.chat-input .chat-btn:hover{background-position:-264px 0px; border:none !important; }

/* On Air List */

.promotion {overflow: hidden; position: relative; margin-top:56px; height: 280px; text-align: center; }
.promotion .pr-box {overflow: hidden; position: relative;  height: 100%; margin: 0 auto;  background: #fafafa; width:100%; }
.promotion .pr-box span{display:inline-block; margin-top:120px;}

.onairlist {overflow:hidden; position:relative; margin-top:60px; padding:0; }

.list-area {position:relative;}

.inner {margin:0 auto; text-align:center; }

.video-list { position:relative; zoom: 1; font-size: 0; background: padding:0; text-align:left; }
.video-list:after {display: block; clear: both; content: '';}
.video-list .video-list-cnt {  text-align: left;}
.video-list li {display: inline-block; position: relative; width: 228px; min-height: 193px; margin:0 7px; padding-bottom: 31px; vertical-align: top;}

.video-list .thumb-area {display: block; position: relative; width: 228px; height: 128px; margin-bottom: 7px;}
.video-list img {width:100%;}
.video-list .video-tit {display: block; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 38px; padding: 4px 0 0 2px; font-size: 0.93rem; line-height: 18px; color: #212121; word-break: break-all; text-decoration: none;}
.video-list .video-date {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px 0 0 2px; font-size: 12px; color: #999;
}
.video-list .video-date .name {padding-left:5px; color:#5e5e5e;}

.btn-more-area {clear: both; margin-top: 14px; padding: 24px 0 35px; border-top: 1px solid #f0f0f0; text-align: center;}
.btn-more-area a { display: inline-block; overflow: hidden; font-size: 16px; color: #999;}
.btn-more {}

/* 코인선물하기 */
.sponsoring {z-index: 1111; position:absolute; background: #d1ebf0; right:0; bottom:0; width:348px; height:470px; margin:0; padding:20px;border-top: 1px solid  #85d2de; overflow: hidden;}
.sponsoring .header {margin-bottom:12px;}
.sponsoring .header p{font-size:1.2rem; margin:0;}
.sponsoring label {color:#1190a3; font-size:0.8rem; margin:0;}
.sponsoring label .balance{float:right; font-size:1.5rem; line-height:1rem; padding:0;}
.sponsoring label .balance strong{font-size:0.9rem; overflow: hidden; text-transform: uppercase; }
.sponsoring label .balance small{font-size:0.8rem; text-transform: uppercase; }
.sponsoring .coin span{background-color:#fff;}
.sponsoring .coin input { text-align:right; font-size:1.5rem;}
.sponsoring .coin .form-control::placeholder { font-size:0.9rem;}
.sponsoring .coin img {width:30px;}

.chat-preview {list-style: none; margin: 0; padding:0; overflow:hidden; background:none; width:100%;}
.chat-preview li{ display:inline-block; overflow:hidden; margin: 0px !important; padding: 7px; background: #f5f5f5; font-size:0.975rem; color:#444; border-radius: 5px; width:308px !important;}

.sponsoring .h5 { color:#1190a3;}
.sliderbox {text-align: center; width:100%; color:#1190a3;}
.sliderbox .slider {margin:20px 0 10px !important;}
.sliderbox .slider small{display:block;padding-top:20px;}

.btn-bottom {position:absolute; bottom:15px; width:308px;}
.btn-pointcolor2 {color:rgba(255,255,255,.8); background:#16b0c7; font-size:1.2rem; width:100%; font-weight:400; text-align:center; padding:16px 25px;}
.btn-pointcolor2:hover {color:rgba(255,255,255,1); background:#0d9fb5; text-decoration: none;}
.btn-pointcolor2:focus { box-shadow: 0 0 0 3px rgba(17, 142, 132, 0.5)!important;}
